@model IEnumerable<FitnessWeb.Models.Class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classCoach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userFirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.className)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classCoach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.userFirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.classId }) |
            @Html.ActionLink("Details", "Details", new { id=item.classId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.classId })
        </td>
    </tr>
}

</table>
